/*CSS for the patients page*/
h1{
	position: absolute; 
	top: -30;
	left: 510;
	font-size: 60px;
    color: #2b2b2b;
    text-align:center;
}

#welcome {
	background-color: #E9967A;
	padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

body {
	
}

#logout {
	position: absolute;
	top: 10px;
	right: 100px;
	width: 130px;
	height:40px;
	background-color: #FFF8DC;
}

a.button{
	position: absolute;
	bottom: 10px;
	right: 1000px;
	width: 130px;
	height:40px;
	height:150px;
	width:150px;
	font-size: 30px;
}

#PatientButton {
	position: absolute; 
	top: 200;
	right: 150;
	height:350px;
	width:350px;
	font-size: 40px;
	padding-bottom: 250px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	padding-<left|right>: 80px;
	background-color: #FFF8DC;
}

#Patient1Button {
	position: absolute; 
	top: 200;
	right: 600;
	height:350px;
	width:350px;
	font-size: 40px;
	padding-bottom: 250px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	padding-<left|right>: 80px;
	background-color: #FFF8DC;
}


#Patient2Button {
	position: absolute; 
	top: 200;
	right: 1050;
	height:350px;
	width:350px;
	font-size: 40px;
	padding-bottom: 250px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	padding-<left|right>: 80px;
	background-color: #FFF8DC;
}

#MedicalButton {
	position: absolute; 
	top: 200;
	right: 280;
	height:350px;
	width:350px;
	font-size: 40px;
	padding-bottom: 250px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	background-color: #FFF8DC;
}

#map{
	position: absolute; 
	top: 200;
	right: 900;
	height:350px;
	width:350px;
	font-size: 40px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	background-color: #FFF8DC;
	
}
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 30%;
        margin: 0;
        padding: 0;
      }
form{
	position: absolute; 
	top: 100;
	right: 450;
	left: 800;
	height:250px;
	width:350px;
	font-size: 15px;
	padding-bottom: 250px;
	background-repeat:no-repeat center center;
	background-position: <left|right>;
	
}

#twitter {
	position: absolute;
	top: 100;
	bottom: 10px;
	right: 100px;
	left: 80px;
	border: 2px;
	border-style: solid;
    border-color: #2b2b2b;
}


.button:hover{
	box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





