/*CSS page for the Main Menu*/
#welcome {
	background-color: #E9967A;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/*Time header on the mian menu*/
h1{
	position: absolute; 
	top: -40;
	left: 260;
	right: 1000;
	font-size: 80px;
	color: #2b2b2b;
    text-align:center;
}

/*Weather header on the mian menu*/
h2{
	position: absolute; 
	top: -50;
	left: 800;
	right: 400;
	font-size: 80px;
	font-color: #5c5c8a;
	color: #2b2b2b;
   	text-align:center;
}
/* live digital clock icon under the time header on the main menu page*/
h3 {
	position: absolute; 
	top: 40;
	padding-left: 225px;
	font-size: 40px;
	color: #2b2b2b;
	
}
/*The weather icon for the main menu page*/
h4{
	position: absolute; 
	top: 100;
	bottom: 1500;
	left: 900;
	right: 400;
	text-align:center;
}

.button:hover{
	box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#backtoHome {
	position: absolute; 
	top: 40;
	right: 30;
	height:40px;
	width:190px;
	font-size:15px;
	background-color: white;
}

/*Music Button*/
#button1 {
	position: absolute;
	top: 200px;
	right: 1050px;
	width: 30px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
	
/*Lights Button*/
#button2 {
	position: absolute;
	top: 200px;
	right: 750px;
	width: 30px;
	height:15px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
#button3 { /*Heating button*/
	position: absolute;
	top: 200px;
	right: 450px;
	width: 30px;
	height:20px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
#button4 {  /*Camera button*/
	position: absolute;
	top: 200px;
	right: 180px;
	width: 30px;
	height:20px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
	
#button5 { /*Order Food Button*/
	position: absolute;
	top: 430px;
	right: 900px;
	width: 30px;
	height:20px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
	
#button6 { /*Food Shopping button*/
	position: absolute;
	top: 430px;
	right: 590px;
	width: 30px;
	height:20px;
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
	
#button7 { /*Order Taxi Button*/
	position: absolute;
	top: 430px;
	right: 280px;
	width: 30px;
	height:20px;
	
	height:90px;
	width: 150px;
	font-size: 30px;
	padding-bottom: 150px;
	background-color: #E9967A;
	}
	
form{
	position: absolute;
	top: 280px;
	right: 600px;
	left: 600px;
	width: 30px;
	height: px;
	height:90px;
	width: 180px;
	font-size: 30px;
	padding-bottom: 180px;
	}
	
input[type=text] {
    width: 200%;
    padding: 12px 30px;
    margin: 8px 10px;
    box-sizing: border-box;
}

input[type=password] {
    width: 200%;
	display: center;
    padding: 12px 30px;
    margin: 8px 10px;
    box-sizing: border-box;
}

label{
	text-align:center;
	border: 15px;
	display: center;
	padding: 30px 30px;
	font-size: 30px;
}