/*CSS Pagge for the music page*/

#welcome {
	background-color: #E9967A;
	padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 180px;

   
}

h1 { /*Heading for the music page*/
	position: absolute; 
	top: -10;
	left: 520;
	font-size: 60px;
	font-family: 'Abhaya Libre';
    color: #2b2b2b;
   
	}

body {
   
	 background-color:  white;
}

#player {
	position: absolute;
	top: 200;
	left: 200;
}	

#notes {
	position: absolute;
	top: 215;
	left: 800;
}

#backMusic {
	position: absolute; 
	top: 40;
	right: 30;
	height:40px;
	width:190px;
	font-size:15px;
	background-color: white;
}

#backMusic:hover {
	box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}